/*********************/
/***** HTML Tags *****/
/*********************/
html {overflow-y: scroll;}

body {
	margin: 20px;
	color: #ffffff;
	font-size: 16px;
	text-align: center;
	background: #163b60;
	font-family: Verdana;
	background-image: url("images/pattern.png");
}

a {outline: none;}

a, a:visited {
	color: #4398ef;
	text-decoration: none;
}

a:hover, a:active {color: #f04343;}

.left {float: left;}

.right {float: right;}

.center {
	display: block;
	margin: 0 auto;
}

.clear {clear: both;}

.justify {text-align: justify;}

smallPoint {font-size: 12px;}

/*******************/
/***** Content *****/
/*******************/
#content {
	width: 1200px;
	padding: 10px;
	margin: 0 auto;
	position: relative;
	border-radius: 10px;
	background: #181818;
}

#navBar {
	height: 29px;
	width: 1200px;
	margin: 6px 0;
	color: #ffffff;
	line-height: 29px;
	border-radius: 5px;
	background: #303030;
	vertical-align: middle;
	border: 1px solid #000000;
}

#navBar a, #navBar a:visited {
	float: left;
	width: 394px;
	display: block;
	text-align: center;
}

.tagline {
	width: 1188px;
	margin: 6px 0;
	color: #ffffff;
	padding: 14px 6px;
	border-radius: 5px;
	background: #163b60;
	border: 1px solid #000000;
}

.item {
	clear: both;
	width: 1188px;
	margin: 6px 0;
	color: #ffffff;
	padding: 4px 6px;
	text-align: left;
	min-height: 155px;
	border-radius: 5px;
	position: relative;
	background: #163b60;
	border: 1px solid #000000;	
}

.item dl {margin-right: 30px;}

.item dt {
	float: left;
	margin: 0 15px 0 30px
}

.item dd:first-of-type {
	font-size: 24px;
	font-weight: bold;
}

.item dd:nth-of-type(3) {font-size: 12px;}

.item dd:last-of-type {
	right: 30px;
	bottom: 15px;
	font-size: 16px;
	position: absolute;
}

.section {
	width: 1180px;
	margin: 6px 0;
	color: #ffffff;
	padding: 0 10px;
	border-radius: 5px;
	background: #383838;
	border: 1px solid #000000;
}
	
.login {
	width: 1188px;
	margin: 6px 0;
	color: #ffffff;
	padding: 4px 6px;
	text-align: center;
	border-radius: 5px;
	position: relative;
	background: #163b60;
	border: 1px solid #000000;	
}

footer {
	width: 1180px;
	color: #8b9db0;
	margin: 0 auto;
	font-size: 12px;
	text-align: right;
	padding: 10px 0px;
}

/*****************/
/***** Forms *****/
/*****************/
form {
	margin: 25px auto;
	background: transparent;
}

.padded {padding: 0 23px;}

fieldset {
	width: 320px;
	padding: 8px;
	border-radius: 5px;
	border: 3px solid #ffffff;
}

#addUnit fieldset {width: 400px;}

.manager fieldset {margin: 0 auto;}

legend {
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.5em;
}


label {
	padding-top: 3px;
	font-weight: bold;
	text-align: right;
}

input, select, textarea {
	color: #ffffff;
	text-align: left;
	background-color: #163b60;
}

input:hover, select:hover {cursor: pointer;}
	
input {padding-left: 4px;} /* Adjust left side padding to match the auto-padding in a select */

ul {
	margin: 0;
	padding: 0;
	width: 1100px;	
	list-style-type: none;
}

li {
	float: left;
	width: 275px;
	display: block;
	text-align: center;
	padding-bottom: 10px;
}

.submit {
	width: 160px;
	height: 30px;
	text-align: center;
}

fieldset .submit {margin: 10px auto;}