/*********************/
/***** HTML Tags *****/
/*********************/
html {overflow-y: scroll;}

body {
	margin: 20px;
	color: #ffa07a;
	font-size: 15px;
	text-align: center;
	background: #163b60;
	font-family: Verdana;
	background-image: url("../guild_forums/styles/art_black/theme/images/pattern.png");
}

a {outline: none;}

a, a:visited {
	color: #4398ef;
	text-decoration: none;
}

a:hover, a:active {color: #f04343;}

.left {float: left;}

.right {float: right;}

.center {
	display: block;
	margin: 0 auto;
}

.clear {clear: both;}

.justify {text-align: justify;}

/*******************/
/***** Content *****/
/*******************/
#content {
	width: 1200px;
	padding: 10px;
	margin: 0 auto;
	position: relative;
	border-radius: 10px;
	background: #181818;
}

#navBar {
	height: 29px;
	width: 1200px;
	margin: 6px 0;
	color: #ffffff;
	line-height: 29px;
	border-radius: 5px;
	background: #303030;
	vertical-align: middle;
	border: 1px solid #000000;
	background-image: url("guild_forums/styles/art_black/theme/images/white10.png");
}

#navBar a, #navBar a:visited {
	float: left;
	width: 394px;
	display: block;
	text-align: center;
}

.titleBar {
	width: 1188px;
	margin: 6px 0;
	color: #ffffff;
	padding: 4px 6px;
	border-radius: 5px;
	background: #163b60;
	border: 1px solid #000000;
	background-image: url("guild_forums/styles/art_black/theme/images/white10.png");
}

.section {
	width: 1180px;
	margin: 6px 0;
	color: #ffffff;
	padding: 0 10px;
	border-radius: 5px;
	background: #383838;
	border: 1px solid #000000;
}
	
img{border: 3px outset white;}

.img {
	float: left;
	width: 406px;
	text-align: left;
	margin: 25px 10px 0 0;
}	

.thumbs {
	float: right;
	width: 100px;
	margin: 25px 22px 0 0;
}

footer {
	width: 1180px;
	color: #8b9db0;
	margin: 0 auto;
	font-size: 12px;
	text-align: right;
	padding: 10px 0px;
}

/*****************/
/***** Forms *****/
/*****************/
form {
	margin: 25px auto;
	background: transparent;
}

.padded {padding: 0 23px;}

fieldset {
	width: 320px;
	padding: 8px;
	border-radius: 5px;
	border: 3px solid #ffffff;
}

#addUnit fieldset {width: 400px;}

.manager fieldset {margin: 0 auto;}

legend {
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.5em;
}

dl {
	margin: 0;
	padding: 0;
	width: 310px;
}

dl.wide {
	width: 525px;
	margin: 22px;
	text-align: center;
}

dl.addUnit {
	width: 500px;
	margin: 22px;
	text-align: center;
}

dt {
	clear: both;
	float: left;
	width: 150px;
	height: 28px;
	text-align: right;
}

.wide dt {width: 225px;}

dd {
	margin: 0;
	padding: 0;
	float: left;
	height: 28px;
	text-align: left;
	margin-left: 10px;
}

dd img {display: none;}

.wide dd {width: 200px;}

.addUnit dd {width: 300px;}

label {
	padding-top: 3px;
	font-weight: bold;
	text-align: right;
}

input, select, textarea {
	color: #ffffff;
	text-align: left;
	background-color: #163b60;
}

input:hover, select:hover {cursor: pointer;}
	
input {padding-left: 4px;} /* Adjust left side padding to match the auto-padding in a select */

ul {
	margin: 0;
	padding: 0;
	width: 1100px;	
	list-style-type: none;
}

li {
	float: left;
	width: 275px;
	display: block;
	text-align: center;
	padding-bottom: 10px;
}

.submit {
	width: 160px;
	height: 30px;
	text-align: center;
}

fieldset .submit {margin: 10px auto;}
/***********************/
/***** View Tables *****/
/***********************/
table {
	border: 0;
	font-size: 12px;
	margin: 22px auto;
	border-spacing: 1px;
}
	
table thead tr {
	position: relative;
	vertical-align: middle;	
	background: #000000 !important;
}

table tr:nth-child(odd) {background: #666666;}

table tr:nth-child(even) {background: #000000;}
	
table thead td {
	padding: 5px;
	font-size: 15px;
}
	
table thead td img {padding-top: 3px;}
	
table tbody tr td:first-child + td {/* left justifying the Name column */
	width: 60px;
	text-align: left; 
} 

table td {
	white-space: nowrap;
	padding: .5em .5em;
}
