/*********************/
/***** HTML Tags *****/
/*********************/
html {overflow-y: scroll;}

body {
	margin: 20px;
	color: #ffffff;
	font-size: 16px;
	text-align: center;
	background: #163b60;
	font-family: Verdana;
	background-image: url("images/pattern.png");
}

a {outline: none;}

a, a:visited {
	color: #4398ef;
	text-decoration: none;
}

a:hover, a:active {color: #f04343;}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-size: 24px;
}

h2 {
	display: block;
	background-image: url(images/fire.jpg);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: fire 8s linear infinite;
	-webkit-backface-visibility: hidden;
}

@keyframes fire {100% {background-position: 0% 100%;}}

h3 {
	background: #ffffff -webkit-gradient(linear, left top, right top, from(#000000), to(#ffffff), color-stop(0.5, #000000)) 0 0 no-repeat;
		background-size: auto auto;
		background-clip: border-box;
    -webkit-background-size: 125px;
    color: rgba(0, 0, 0, 0.1);
    -webkit-background-clip: text;
    -webkit-animation-name: shine;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
}

@keyframes shine {
	0% {background-position: top left;}
	100% {background-position: top right;}
}

/**************************/
/***** Basic Concepts *****/
/**************************/
.left {float: left;}

.right {float: right;}

.center {
	display: block;
	margin: 0 auto;
}

.clear {clear: both;}

.justify {text-align: justify;}

/*******************/
/***** Content *****/
/*******************/
#content {
	width: 1200px;
	padding: 10px;
	margin: 0 auto;
	position: relative;
	border-radius: 10px;
	background: #181818;
}

/**********************/
/***** Menu Items *****/
/**********************/
.tagline {
	width: 1188px;
	margin: 6px 0;
	color: #ffffff;
	padding: 14px 6px;
	border-radius: 5px;
	background: #163b60;
	border: 1px solid #000000;
}

.red {color: #ff0000;}

.white {color: #ffffff;}

.category, .order {
	width: 1180px;
	margin: 6px 0;
	color: #ffffff;
	padding: 0 10px;
	border-radius: 5px;
	background: #383838;
	border: 1px solid #000000;
}

.order {text-align: right;}

.item {
	clear: both;
	width: 1188px;
	margin: 6px 0;
	color: #ffffff;
	padding: 4px 6px;
	text-align: left;
	min-height: 155px;
	border-radius: 5px;
	position: relative;
	background: #163b60;
	border: 1px solid #000000;	
}

.director {
	width: 1188px;
	margin: 6px 0;
	color: #ffffff;
	padding: 4px 6px;
	border-radius: 5px;
	position: relative;
	background: #163b60;
	border: 1px solid #000000;	
}

.item dl {
	float: left;
	width: 1123px;
}

.item dt {
	float: left;
	width: 125px;
	height: 125px;
	margin: 0 15px 0 30px
}

.item dd:first-of-type, .director dd:first-of-type {
	font-size: 24px;
	font-weight: bold;
}

.item dd:nth-of-type(3) {font-size: 12px;}

.item dd:last-of-type {
	right: 30px;
	bottom: 15px;
	font-size: 16px;
	position: absolute;
}

.warning {font-size: 12px;}

/******************/
/***** Footer *****/
/******************/
footer {
	width: 1180px;
	color: #8b9db0;
	margin: 0 auto;
	font-size: 12px;
	text-align: right;
	padding: 10px 0px;
}

/***********************/
/***** Login Page  *****/
/***********************/
.form {
	width: 1188px;
	margin: 6px 0;
	color: #ffffff;
	padding: 4px 6px;
	text-align: center;
	border-radius: 5px;
	position: relative;
	background: #163b60;
	border: 1px solid #000000;	
}

/*****************/
/***** Forms *****/
/*****************/
form {
	margin: 25px auto;
	background: transparent;
}

label {
	padding-top: 3px;
	font-weight: bold;
	text-align: right;
}

input, select, textarea {
	height: 20px;
	color: #ffffff;
	text-align: left;
	background-color: #163b60;
}

input:hover, select:hover {cursor: pointer;}
	
input {padding-left: 4px;}

.text{
	height: 20px;
	width: 400px;
}

.quantity {
	width: 30px;
	height: 50px;
	margin-top: 5px;
	font-size: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #000000;	
}

.server {
	width: 200px;
	height: 20px;
	margin-top: 5px;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	background-color: #000000;	
}

.submit {
	width: 160px;
	height: 30px;
	text-align: center;
}

/***********************/
/***** Print Media *****/
/***********************/
@media print {
   * {text-align: left;}
   #content {width: 800px;}
   img, form, .category, .tagline {display: none;}
}